.containerNew{
  background-color: #D7AEE7;
  padding: 10px;
  border-radius: 22px;

  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  row-gap: 20px;
}

.containerNew form {
  display: grid;
  row-gap: 20px;
}

.reminderInfo {
  background-color: #C494DC;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.reminderInfo label {
  color: #F8F8F8;
  font-size: 20px;
  padding: 10px;

}

.reminderInfo input {
  background-color: #F8F8F8;
  min-width: 85%;
  min-height: 30px;
  border: none;

  border-radius: 10px;
  padding: 10px;

  font-size: 15px;
}

.submitReminder{ 
  display: flex;
  justify-content: flex-end;
}

.submitReminder button {
  color: #F8F8F8;
  font-size: 20px;
  
  border: none;
  background-color: #682F7E;
  border-radius: 10px;
  min-height: 50px;
  min-width: 15%;

  cursor: pointer;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.submitReminder button:hover {
  background-color: #9745b4;
  font-size: 23px;
  transition: .5s all;
}

.errorMsg {
  color: #682F7E;
  text-align: end;
}

input[type="date"] {
  position: relative;
}

input[type="date"]:after {
  content: "\25BC"; 
  color: #682F7E;
  padding: 0 5px;
}


input[type="date"]:hover:after {
  color: #9745b4;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  
  cursor: pointer;
}


input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}


input[type="date"]::-webkit-clear-button {
   z-index: 1;
}