@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url(/src/assets/purple-bg.svg);
}

/* estilizando scrollbar */
body::-webkit-scrollbar,
.containerList::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track, 
.containerList::-webkit-scrollbar-track {
  background: #E9D4F1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb,
.containerList::-webkit-scrollbar-thumb {
  background-color: #8C619D;
  border-radius: 10px;
}